# Игнорировать виртуальные окружения
.venv/
venv/
env/

# Игнорировать кэш Python
__pycache__/
*.py[cod]

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать папочку node_modules
/node_modules